.post-panel
  = render partial: 'story_metadata', locals: { story: story }
  .main-body
    %h3.post-title= link_to story.title, story
    .post-body= truncate(story.body, length: 140, separator: ' ', escape: false)
    = link_to "Read more", story, class: 'read-more'
